
:root {

    --theme: default;

    /* Default */
    --primary-default-bg-color: #F2E9E4;
    --secondary-default-bg-color: #C9AD97;
    --primary-default-fg-color: #222238;
    --secondary-default-fg-color: #4A4369;
    --default-target-color: #B83E3E;

    /* Dark */
    --primary-dark-bg-color: #222831;
    --secondary-dark-bg-color: #393E46;
    --primary-dark-fg-color: #c4c4c4;
    --secondary-dark-fg-color: #8C8C8C;
    --dark-target-color: #B83E3E;

    --primary-bg-color: var(--primary-default-bg-color);
    --secondary-bg-color: var(--secondary-default-bg-color);
    --primary-fg-color: var(--primary-default-fg-color);
    --secondary-fg-color: var(--secondary-default-fg-color);
    --target-color: var(--default-target-color);
}

* {
    box-sizing: border-box;

    color: var(--primary-fg-color);

    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
}

/* Tags */
body {
    margin: 0px;

    background-color: var(--primary-bg-color);
}

ul {
    /* margin: 0; */
    padding: 0;
}

li {
    list-style: none;
}

h1 {
    margin-top: 0;
    padding-top: 21.44px;
}

h2 {
    font-size: 30px;

    margin-top: 0;
    padding-top: 19.92px;
}

p {
    line-height: 120%;
    letter-spacing: 2%;
}

a {
    color: var(--target-color);
    text-decoration: none;
}

strong {
    font-weight: 600;
}

hr {
    border: none;
    height: 0.5px;
    background-color: var(--primary-fg-color);
}

/* Components */
.underline {
    border-bottom: 1px solid var(--primary-fg-color);
}

.flex-aligned-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.section-wrapper {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5rem;
}

.span-wrapper {
    display: flex;
    justify-content: flex-end;

    font-size: 12px;
}

.span-wrapper>span>a {
    font-style: italic;

}

/* Sections */

/* Hero */
.hero {
    position: relative;

    background-image: url("../images/hero-pic.althaf-raja.jpg");
    background-repeat: no-repeat;
    background-position: 57% 50%;
    background-size: cover;

    height: 90dvh;

    overflow: hidden;
}

.hero>.mask {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    background-color: rgb(from var(--primary-bg-color) r g b / 0.7);
    height: 100%;

    padding: 1rem;
}

.hero>.mask>h1 {
    font-size: 45px;

    margin: 0;
    padding: 0;
}

.hero>.mask>h2 {
    font-size: 30px;
    color: var(--secondary-fg-color);

    margin: 0;
    padding: 0;
}

.hero>.mask>p {
    font-size: 16px;

    margin: 8px;
    width: 264px;
}

.hero>.mask>#photo-credit {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

/* About */
.about {
    background-color: var(--secondary-bg-color);
}

/* Projects */
.projects {
    background-color: var(--primary-bg-color);
}

.project-card>.project-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-card>.project-header>span {
    color: var(--secondary-fg-color);
}

.project-card>p {
    color: var(--secondary-fg-color)
}

/* Methodology */
.methodology {
    background-color: var(--secondary-bg-color);
}

/* Contact */
.contact {
    background-color: var(--primary-bg-color);
}

@media screen and (min-width: 800px) {
    .hero>.mask>h1 {
        font-size: 72px;
    }

    .hero>.mask>h2 {
        font-size: 54px;
    }

    .hero>.mask>p {
        font-size: 32px;
        width: 500px;
    }

    h2 {
        font-size: 47px;
    }

    h3 {
        font-size: 32px;
    }

    p {
        font-size: 24px;
    }

    ul {
        font-size: 24px;
    }

    .span-wrapper {
        font-size: 16px;
    }
}
