
.topbar {

    --topbar-height: 89px; 

    position: sticky;
    top: 0px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--primary-bg-color);
    padding: 1rem;

    box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px;
    transition: all 0.2s ease;
    isolation: isolate;
    z-index: 1;
}

.topbar.hide {
    top: calc(0px - var(--topbar-height));
    transition: all 0.2s ease;
}

.topbar>#logo {
    font-size: 45px;
}

.topbar nav>ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

@media screen and (min-width: 800px) {
    
    .topbar {

        --topbar-height: 182px;

        flex-direction: column;
    }

    .topbar>#logo {
        font-size: 64px;
        border-bottom: 1px solid var(--secondary-fg-color);
    }

}
